---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { minima } from "../../lib/minima";
import { renderTiptapContent } from "../../lib/editor";

import ArticleHeadline from "../../components/ArticleHeadline.astro";
import ArticlePagination from "../../components/ArticlePagination.astro";
import ArticleMeta from "../../components/ArticleMeta.astro";
import { buildTitle } from "../../config/site";

// Get slug from URL params
const { slug } = Astro.params;

// Fetch article by slug
const response = await minima.getPublicArticleBySlug(slug!);
const article = response.data;

if (!article) {
  return Astro.redirect("/404");
}

const title = await buildTitle(article.headline);
const description = article.description || "";
---

<BaseLayout title={title} description={description}>
  <article>
    <main
      class="bg-white max-w-4xl mx-auto p-6 rounded shadow border border-sky-600"
    >
      <ArticleHeadline article={article} />

      <div set:html={renderTiptapContent(article.body, article.images || [])} />

      <footer class="max-w-4xl mx-auto">
        <ArticleMeta article={article} />
        <div class="mt-4 pt-4">
          <ArticlePagination currentSlug={article.slug} />
        </div>
      </footer>
    </main>
  </article>
</BaseLayout>
