---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ArchivePagination from "../../components/ArchivePagination.astro";
import { minima } from "../../lib/minima";
import { buildTitle } from "../../config/site";
import ArticleCard from "../../components/ArticleCard.astro";
import Taxonomy from "../../components/Taxonomy.astro";
import { getCategoryUrl } from "../../lib/url";

// Get category slug from URL params
const slug = Astro.params.slug as string;
const basePath = getCategoryUrl(slug);

// Get pagination parameters from URL
const url = new URL(Astro.request.url);
const page = parseInt(url.searchParams.get("page") || "1");
const limit = 4;
const offset = (page - 1) * limit;

// Fetch articles by category
const response = await minima.getPublicArticles({
  limit,
  offset,
  category: slug,
});

const articles = response.data?.data || [];
const pagination = response.data?.pagination;

// Get category name from first article (if available)
const categoryName =
  articles.length > 0 && articles[0].categories.length > 0
    ? articles[0].categories.find((cat) => cat.slug === slug)?.name || slug
    : slug;

const {data: siteData}= await minima.getPublicSite();
const categories = siteData?.categories || [];

const title = await buildTitle(categoryName);
const description = `Articles in ${categoryName} category`;
---

<BaseLayout title={title} description={description}>
  <div class="max-w-4xl mx-auto">
    {
      articles.length === 0 ? (
        <p>No articles found in this category.</p>
      ) : (
        <>
          <h1 class="text-3xl font-medium m-0 mb-4 text-center">
            Category: {categoryName}
          </h1>

          {categories.length > 0 && (
            <Taxonomy label="All Categories" items={categories} />
          )}
          <div class="grid grid-cols-2 gap-4">
            {articles.map((article) => (
              <ArticleCard article={article} />
            ))}
          </div>
        </>
      )
    }
  </div>
  {
    pagination && (
      <div class="max-w-4xl mx-auto bg-white p-4 rounded shadow border border-sky-600 mt-4">
        <ArchivePagination
          pagination={pagination}
          basePath={basePath}
          itemLabel="articles"
        />
      </div>
    )
  }
</BaseLayout>
